[Desktop Entry]
Type=Application
Name=iPhotron
Comment=Local-first photo album manager
Exec=iphoto
Icon=io.github.oliverzhaohaibin.iPhotron
Categories=Graphics;Photography;
Terminal=false
StartupNotify=true
